<!DOCTYPE html>
<html>
<head>
  <title>RspecExample</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="upload">
  <a class="white" href="<%= new_product_url %>">
     Upload Product 
  </a>
</div>

<%= yield %>

</body>
</html>
